.custom-container {
  max-width: 1536px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 1rem;
  padding-right: 1rem;
  height: 4.4rem;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background-color: rgb(46, 52, 69);

}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 4.3rem;
}

ul {
  display: flex;
}

li {
  cursor: pointer;
  list-style: none;
  margin-right: 1.7rem;
  font-size: x-large;
}
li:hover {
  color: rgb(127, 127, 156);
}


img {
  border-radius: 50%;
  height: 4rem;
  width: 4rem;
}
h1 {
  cursor: pointer;
  margin: 0%;
  /* background-color: #22c55e; */
  margin-left: 1%;
  height: 2rem;
  font-size: 1.5rem;
  line-height: 1rem;
  cursor: pointer;
}
h1:hover, span:hover {
  color: rgb(54, 82, 82);
}

p {
  margin: 0%;
  height: 2rem;
  font-size: 1rem;
  /* line-height: 1rem; */
  /* background-color: #22c55e; */
}
span {
  color: #22c55e;
  font-size: 2rem;
  line-height: 2rem;
  color: green;
}

.setImage {
  display: flex;
  /* margin-right: 0.5rem; */
}
